input:focus{
    background-color: #282828;
   color: #8a8a8a;
}



.input-fields {
  background-color: #282828;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-top: 50px;
  color:white;
}

.buttons {
    background-color: #D32222;
    border: none;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    color: white;
  }


